
.plan-meal-box {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 4%;
  margin-top: 2%;
}

.plan-meal-box h2 {
  font-size: 24px;
  color: #333;
}

.meal-type-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-image: linear-gradient(to right, #6a11cb, #2575fc);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.meal-type-button:hover {
  background-image: linear-gradient(to right, #2575fc, #6a11cb);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}



